# Exploração dos dados

In [3]:
path = '../data/weather_data.json'

import pandas as pd
import json

In [5]:
with open(path) as f:
    data = json.load(f)

df = pd.json_normalize(data)
df.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,main.sea_level,main.grnd_level,wind.speed,wind.deg,wind.gust,clouds.all,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 804, 'main': 'Clouds', 'description': ...",stations,10000,1771356395,-10800,3401992,Coelho Neto,200,-43.0128,-4.2567,...,75,1008,999,1.41,196,3.18,100,BR,1771318751,1771362794

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weather          1 non-null      object
 1   base             1 non-null      str
 2   visibility       1 non-null      int64
 3   dt               1 non-null      int64
 4   timezone         1 non-null      int64
 5   id               1 non-null      int64
 6   name             1 non-null      str
 7   cod              1 non-null      int64
 8   coord.lon        1 non-null      float64
 9   coord.lat        1 non-null      float64
 10  main.temp        1 non-null      float64
 11  main.feels_like  1 non-null      float64
 12  main.temp_min    1 non-null      float64
 13  main.temp_max    1 non-null      float64
 14  main.pressure    1 non-null      int64
 15  main.humidity    1 non-null      int64
 16  main.sea_level   1 non-null      int64
 17  main.grnd_level  1 non-null      int64
 18  wind.speed       1 non-null      float64
 19  wind.deg         1 non-null      int64
 20  wind.gust        1 non-null      float64
 21  clouds.all       1 non-null      int64
 22  sys.country      1 non-null      str
 23  sys.sunrise      1 non-null      int64
 24  sys.sunset       1 non-null      int64
dtypes: float64(8), int64(13), object(1), str(3)
memory usage: 332.0+ bytes

In [7]:
df.describe()

,visibility,dt,timezone,id,cod,coord.lon,coord.lat,main.temp,main.feels_like,main.temp_min,...,main.pressure,main.humidity,main.sea_level,main.grnd_level,wind.speed,wind.deg,wind.gust,clouds.all,sys.sunrise,sys.sunset
count,1.0,1.000000e+00,1.0,1.0,1.0,1.0000,1.0000,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.00,1.0,1.00,1.0,1.000000e+00,1.000000e+00
mean,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09
25%,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09
50%,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09
75%,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09
max,10000.0,1.771356e+09,-10800.0,3401992.0,200.0,-43.0128,-4.2567,28.25,31.92,28.25,...,1008.0,75.0,1008.0,999.0,1.41,196.0,3.18,100.0,1.771319e+09,1.771363e+09